.sd-board {
  .sd-board_row {
    &:nth-child(3),
    &:nth-child(6) {
      border-bottom: 2px solid darken(grey, 20%);
    }

    .sd-board_grid {
      padding: 10px 14px;
      border: 1px solid grey;
      font-size: 16px;

      &:nth-child(3),
      &:nth-child(6) {
        border-right: 2px solid darken(grey, 20%);
      }
    }
  }
}
